{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.rtl.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css' %}">#}

    {# fontawesome icons #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body style="font-family: Montserrat, sans-serif" >
<div class="bg-light pt-3">
    <div class="container pb-4">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
{#          <div class="container-fluid">#}
            <a class="navbar-brand" href="#">Respect</a>
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#              <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <a class="nav-link link-success ms-auto me-0" href="#">Login</a>
            <button class="p-3 btn btn-success ms-5"><span class="me-3 fw-bold">JOIN US</span><i class=" text-white fas fa-arrow-right"></i></button>
        </nav>

        <!-- first page content -->
        <div class="row align-items-center">
            <div class="col-5 my-auto">
                <a class="link-success text-decoration-none" style="font-weight: 700; font-family: Montserrat, sans-serif;" href="#">Join Us</a>
                <p style="font-weight: 700; color: #252B42; font-family: Montserrat; font-size: 58px; line-height: 80px; align: left; letter-spacing: .2px;">25K+ CLIENTS TRUST US</p>
                <p class="text-secondary" style="font-weight: 400; font-size: 20px; font-family: Montserrat; line-height: 30px; letter-spacing: .2px">Every day brings with it a fresh set of learning possibilities.</p>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <button class="btn btn-success px-5 py-3 fw-bold">Get Quote Now</button>
                    </div>
                    <div class="col-6">
                        <button style="margin-left: -40px" class="btn btn-outline-success px-5 py-3">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <img src="{% static 'images/itu.png' %}" style="width: 640px; height: 757px" alt="">
            </div>
        </div>
        <div class="row justify-content-between mb-5" style="margin-top: -120px">
            <div class="col bg-white" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);">
                <div class="rounded-pill position-static mt-5 me-lg-5 mb-4" style="left: 40px; top: 35px; width: 72px; height: 72px; background-color: #E74040; ">
                    <i class="fas fa-2x text-white fa-graduation-cap position-absolute m-lg-3"></i>
                </div>
                <p class="text-primary my-2 fw-bold me-lg-5" style="font-size: 24px;">Expert instruction</p>
                <hr class="my-3 bg-danger me-lg-5" style="background-color: #E74040; width: 50px; height: 2px">
                <p class="text-secondary me-lg-5 mb-5" style="width: 222px;">
                    The gradual accumulation of information about atomic and small-scale behaviour...
                </p>
            </div>
            <div class="col mx-5 bg-white" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);">
                <div class="rounded-pill position-static mt-5 me-lg-5 mb-4" style="left: 40px; top: 35px; width: 72px; height: 72px; background-color: #E74040; ">
                    <i class="fas fa-2x text-white fa-address-book position-absolute p-3 m-1"></i>
                </div>
                <p class="text-primary my-2 fw-bold me-lg-5" style="font-size: 24px;">Training courses</p>
                <hr class="my-3 bg-danger me-lg-5" style="background-color: #E74040; width: 50px; height: 2px">
                <p class="text-secondary me-lg-5 mb-5" style="width: 222px;">
                    The gradual accumulation of information about atomic and small-scale behaviour...
                </p>
            </div>
            <div class="col bg-white" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);">
                <div class="rounded-pill position-static mt-5 me-lg-5 mb-4" style="left: 40px; top: 35px; width: 72px; height: 72px; background-color: #E74040; ">
                    <i class="fas fa-2x text-white fa-book position-absolute p-3 m-1"></i>
                </div>
                <p class="text-primary my-2 fw-bold me-lg-5" style="font-size: 24px;">Expert instruction</p>
                <hr class="my-3 me-lg-5" style="background-color: #E74040; order: 2; position: static flex: none; width: 50px; height: 2px">
                <p class="text-secondary me-lg-5 mb-5" style="width: 222px;">
                    The gradual accumulation of information about atomic and small-scale behaviour...
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5 py-5" style="width: 71%">
    <!-- Numbers -->
    <div class="row text-center fw-bold mt-3 py-5">
        <div class="col">
            <p class="text-success mx-auto mb-0 pb-0" style="font-size: 58px">15K</p>
            <p class="text-primary">Happy Customers</p>
        </div>
        <div class="col">
            <p class="text-success mx-auto mb-0 pb-0" style="font-size: 58px">150K</p>
            <p class="text-primary">Monthly Visitors</p>
        </div>
        <div class="col">
            <p class="text-success mx-auto mb-0 pb-0" style="font-size: 58px">15</p>
            <p class="text-primary">Countries Worldwide</p>
        </div>
        <div class="col">
            <p class="text-success mx-auto mb-0 pb-0" style="font-size: 58px">100+</p>
            <p class="text-primary">Top Partners</p>
        </div>
    </div>
    <div class="row my-5 py-4 align-items-center">
        <div class="col">
            <hr class="" style="width: 94px; height: 7px">
            <p class="text-primary fw-bold mt-4" style="font-size: 40px">Every Client Matters</p>
            <p class="text-secondary my-4" style="font-size: 14px; width: 351px;">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
            <a class="link-success text-decoration-none fw-bold" href="#" style=""><span style="font-size: 14px; line-height: 24px;">Learn More</span><i class="fas text-success fa-angle-right me-2 fw-light"></i></a>
        </div>
        <div class="col">
            <img src="{% static 'images/itu.png' %}" style="width: 640px; height: 757px" alt="">
        </div>
    </div>
</div>
<div class="my-5 py-5" style="background-color: #FFF2F3">
    <div class="container pb-5 mb-5">
        <div class="row justify-content-start mb-5">
            <div class="col">
                <a href="#" class="link-success text-decoration-none fw-bold">Practice Advice</a>
                <p class="text-primary fw-bold mt-3" style="font-size: 40px">Our Experts Teacher</p>
                <p class="text-secondary mt-2" style="font-size: 14px; width: 469px;">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
            </div>
        </div>
        <div class="row mt-5 pt-4">
            <div class="col">
                <div class="card pb-4">
                    <img src="{% static 'images/image.jpg' %}" style="width: 348px; height: 340px" class="mx-auto">
                    <div class="card-body mx-3">
                        <div class="row my-3 justify-content-between">
                            <div class="col-6">
                                <a href="#" class="link-success text-decoration-none fw-bold">Training Courses</a>
                            </div>
                            <div class="col-6">
                                <div class="float-end rounded-pill" style="background-color: #2D4059; width: 56px; height: 28px">
                                    <i class="ms-1 fas fa-star text-warning" style="padding-top: 6px"></i><small class="text-white">4.9</small>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-primary fw-bold my-2">Get Quality Education</h5>
                        <p class="card-text" style="width: 280px">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                        <p class="card-text"><a href="#"><i class="fas fa-download text-secondary"></i></a><span class="text-secondary fw-bold ms-2">15 Sales</span></p>
                        <p class="fw-bold"><span class="text-muted">$16.48</span><span style="color: #FFAB71; margin-left: 5px">$6.48</span></p>
                        <a href="#" class="btn btn-outline-success fw-bold px-4 py-3 rounded-pill">Learn More<i class="fas fa-angle-right text-success me-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card pb-4">
                    <img src="{% static 'images/index.jpeg' %}" style="width: 348px; height: 340px" class="mx-auto">
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col">
                                <a href="#" class="link-success text-decoration-none fw-bold">Training Courses</a>
                            </div>
                            <div class="col">
                                <div class="rounded-pill" style="background-color: #2D4059; width: 56px; height: 28px">
                                    <i class="ms-1 fas fa-star text-warning" style="padding-top: 6px"></i><small class="text-white">4.9</small>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-primary fw-bold my-2">Get Quality Education</h5>
                        <p class="card-text" style="width: 280px">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                        <p class="card-text"><a href="#"><i class="fas fa-download text-secondary"></i></a><span class="text-secondary fw-bold ms-2">15 Sales</span></p>
                        <p class="fw-bold"><span class="text-muted">$16.48</span><span style="color: #FFAB71; margin-left: 5px">$6.48</span></p>
                        <button class="btn btn-outline-success fw-bold px-4 py-3 rounded-pill me-1">Learn More<i class="fas fa-angle-right text-success me-1"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card pb-4">
                    <img src="{% static 'images/image.jpg' %}" style="width: 348px; height: 340px" class="mx-auto">
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col">
                                <a href="#" class="link-success text-decoration-none fw-bold">Training Courses</a>
                            </div>
                            <div class="col">
                                <div class="rounded-pill" style="background-color: #2D4059; width: 56px; height: 28px">
                                    <i class="ms-1 fas fa-star text-warning" style="padding-top: 6px"></i><small class="text-white">4.9</small>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-primary fw-bold my-2">Get Quality Education</h5>
                        <p class="card-text" style="width: 280px">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                        <p class="card-text"><a href="#"><i class="fas fa-download text-secondary"></i></a><span class="text-secondary fw-bold ms-2">15 Sales</span></p>
                        <p class="fw-bold"><span class="text-muted">$16.48</span><span style="color: #FFAB71; margin-left: 5px">$6.48</span></p>
                        <button class="btn btn-outline-success fw-bold px-4 py-3 rounded-pill me-1">Learn More<i class="fas fa-angle-right text-success me-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- every client matters -->
<div class="container mt-5 py-5">
    <div class="row justify-content-start my-5 py-5">
        <div class="col">
            <a href="#" class="link-success text-decoration-none fw-bold">Practice Advice</a>
            <p class="text-primary fw-bold mt-2" style="font-size: 40px">Every Client Matters</p>
            <p class="text-secondary mt-2" style="font-size: 14px; width: 469px;">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
        </div>
    </div>
    <div class="row text-center my-5 py-5">
        <div class="col-4 mx-auto">
            <p>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
            </p>
            <p class="text-secondary mx-auto" style="width: 180px">
                Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            </p>
            <div class="row justify-content-center text-start align-items-center">
                <div class="col-2 rounded">
                    <img src="{% static 'images/regine.jpg' %}" alt="dasd" style="width: 50px; height: 50px" class="rounded-circle">
                </div>
                <div class="col-4 mt-3">
                    <p class="text-success fw-bold mb-0" style="font-size: 14px;">Regine Miles</p>
                    <p class="text-primary" style="font-size: 12px">Designer</p>
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <p>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
            </p>
            <p class="text-secondary mx-auto" style="width: 180px">
                Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            </p>
            <div class="row justify-content-center text-start align-items-center">
                <div class="col-2 rounded">
                    <img src="{% static 'images/regine.jpg' %}" alt="dasd" style="width: 50px; height: 50px" class="rounded-circle">
                </div>
                <div class="col-4 mt-3">
                    <p class="text-success fw-bold mb-0" style="font-size: 14px;">Regine Miles</p>
                    <p class="text-primary" style="font-size: 12px">Designer</p>
                </div>
            </div>
        </div>
        <div class="col-4 mx-auto">
            <p>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
            </p>
            <p class="text-secondary mx-auto" style="width: 180px">
                Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            </p>
            <div class="row justify-content-center text-start align-items-center">
                <div class="col-2 rounded">
                    <img src="{% static 'images/regine.jpg' %}" alt="dasd" style="width: 50px; height: 50px" class="rounded-circle">
                </div>
                <div class="col-4 mt-3">
                    <p class="text-success fw-bold mb-0" style="font-size: 14px;">Regine Miles</p>
                    <p class="text-primary" style="font-size: 12px">Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- team -->
<div class="container mt-5 py-5">
    <div class="row justify-content-start my-5 py-5">
        <div class="col">
            <a href="#" class="link-success text-decoration-none fw-bold">Team</a>
            <p class="text-primary fw-bold mt-2" style="font-size: 40px">Our Popular Courses</p>
            <p class="text-secondary mt-2" style="font-size: 14px; width: 469px;">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>
        </div>
    </div>
    <div class="row text-center my-5 py-5">
        <div class="col-3">
            <div class="card" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); border-radius: 20px;">
              <img class="card-img-top" src="{% static 'images/boy1.jpeg' %}" style="height: 231px; border-radius: 20px 20px 0 0" alt="Card image cap">
              <div class="card-body mt-4">
                <h5 class="fw-bold text-primary">Julian Jameson</h5>
                <p class="text-secondary mb-0 mt-3">Profession</p>
              </div>
              <div class="row justify-content-center text-success mt-0 mb-4">
                  <div class="col-1">
                      <i class="fab fa-facebook" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-instagram" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-twitter" style="width: 22px; height: 22px"></i>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); border-radius: 20px;">
              <img class="card-img-top" src="{% static 'images/boy2.jpeg' %}" style="height: 231px; border-radius: 20px 20px 0 0" alt="Card image cap">
              <div class="card-body mt-4">
                <h5 class="fw-bold text-primary">Julian Jameson</h5>
                <p class="text-secondary mb-0 mt-3">Profession</p>
              </div>
              <div class="row justify-content-center text-success mt-0 mb-4">
                  <div class="col-1">
                      <i class="fab fa-facebook" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-instagram" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-twitter" style="width: 22px; height: 22px"></i>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); border-radius: 20px;">
              <img class="card-img-top" src="{% static 'images/girl1.jpg' %}" style="height: 231px; border-radius: 20px 20px 0 0"  alt="Card image cap">
              <div class="card-body mt-4">
                <h5 class="fw-bold text-primary">Julian Jameson</h5>
                <p class="text-secondary mb-0 mt-3">Profession</p>
              </div>
              <div class="row justify-content-center text-success mt-0 mb-4">
                  <div class="col-1">
                      <i class="fab fa-facebook" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-instagram" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-twitter" style="width: 22px; height: 22px"></i>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); border-radius: 20px;">
              <img class="card-img-top" src="{% static 'images/girl2.jpeg' %}" style="height: 231px; border-radius: 20px 20px 0 0"  alt="Card image cap">
              <div class="card-body mt-4">
                <h5 class="fw-bold text-primary">Julian Jameson</h5>
                <p class="text-secondary mb-0 mt-3">Profession</p>
              </div>
              <div class="row justify-content-center text-success mt-0 mb-4">
                  <div class="col-1">
                      <i class="fab fa-facebook" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-instagram" style="width: 22px; height: 22px"></i>
                  </div>
                  <div class="col-1">
                      <i class="fab fa-twitter" style="width: 22px; height: 22px"></i>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- newsletter -->

<div class="row mx-auto text-center my-5 py-5">
    <div class="col text-center">
        <a href="#" class="link-success text-decoration-none fw-bold">Team</a>
        <p class="text-primary fw-bold mt-2" style="font-size: 40px">Our Popular Courses</p>
        <p class="text-secondary mx-auto mt-2 mb-5" style="width: 500px">Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics</p>

        <form class="form-row my-5 pt-5">
            <input class="text-decoration-none rounded-0 border-light text-secondary bg-light w-50 px-4" style="height: 58px; border: 1px solid #E6E6E6; box-sizing: border-box; border-radius: 15px;" type="text" placeholder="Your Email">
            <input value="Subscribe" type="submit" class="btn btn-success" style="height: 58px; width: 117px; margin-left: -20px; margin-top: -2px; border: 1px solid #E6E6E6; box-sizing: border-box; border-radius: 0px 5px 5px 0px;">
        </form>
    </div>
</div>

<!-- footer -->

<div class="container my-5 py-5">
    <div class="row mx-auto fw-bold">
        <div class="col">
            <h5 class="text-primary fw-bold mb-4">Company Info</h5>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">About Us</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Carrier</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">We are hiring</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Blog</a></p>
        </div>
        <div class="col">
            <h5 class="text-primary fw-bold mb-4">Legal</h5>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">About Us</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Carrier</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">We are hiring</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Blog</a></p>
        </div>
        <div class="col">
            <h5 class="text-primary fw-bold mb-4">Features</h5>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Business Marketing</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">User Analytic</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Live Chat</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Unlimited Support</a></p>
        </div>
        <div class="col">
            <h5 class="text-primary fw-bold mb-4">Company Info</h5>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">iOS & Android</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Watch a Demo</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">Customers</a></p>
            <p style="font-size: 14px"><a href="#" class="link-secondary text-decoration-none">API</a></p>
        </div>
        <div class="col">
            <h5 class="text-primary fw-bold mb-4">Company Info</h5>
            <p class="row align-items-center " style="font-size: 14px"><i class="fas fa-phone text-success col-1" style="width: 22.81px; height: 22.81px"></i><span class="col-6 text-secondary ">(480) 555-0103</span></p>
            <p class="row align-items-center" style="font-size: 14px"><i class="fas fa-2x fa-map-marker text-success col-1" style="width: 22.81px; height: 22.81px"></i><span class="col-9 text-secondary">4517 Washington Ave. Manchester, Kentucky 39495</span></p>
            <p class="row align-items-center" style="font-size: 14px"><i class="fas fa-envelope text-success col-1" style="width: 22.81px; height: 22.81px"></i><a href="email:debra.holt@example.com" class="link-secondary text-decoration-none col-6">debra.holt@example.com</a></p>
        </div>
    </div>
</div>

{#<!-- made with love -->#}
{#<div class="bg-light" style="height: 74px">#}
{#    <div class="container">#}
{#        <p class="text-secondary fw-bold">Made With Love By Figma</p>#}
{#    </div>#}
{#</div>#}


<script src="{% static 'fontawesome/js/all.js' %}"></script>
<script src="{% static 'fontawesome/js/brands.js' %}"></script>
<script src="{% static 'fontawesome/js/fontawesome.js' %}"></script>
<script src="{% static 'fontawesome/js/regular.js' %}"></script>
<script src="{% static 'fontawesome/js/solid.js' %}"></script>
</body>
</html>